body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.columns{
  display: block;
}

.leftCol{
  position: absolute;
  height: 100vh;
  width: 35vw;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rightCol{
  position: absolute;
  height: 100vh;
  width: 65vw;
  left: 32vw;
  padding-right: 15vw;

  padding-top: 10vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.sLogo{height: 1vh;}
.s05{height: 0.25em;}
.s1{height: 0.5em;}
.s2{height: 1em;}
.s3{height: 1.5em;}
.s4{height: 2em;}
.s5{height: 2.5em;}
.s10{height: 5em;}


p{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 0.9em;
  border: 0px;
}

.textLC{
  padding-left: 6.3vw;
  padding-right: 6.3vw;
}

a{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 0.8em;
  line-height: 0.8em;
  border: 0px;
  text-align: left;
  text-decoration: none;
  color: black;
}

h2{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  border: 0px;
  text-align: left;
}

h4{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 0.6em;
  border: 0px;
}

.textRC{
  padding-left: 5vw;
  padding-right: 5vw;
}

h1{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  border: 0px;
}

h3{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5em;
  border: 0px;
  text-align: left;
}

p{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 1.5em;
  border: 0px;
  text-indent: 1em;
}

.textRC img{
  width: 27.5vw;
  max-width: 800px;
  margin-left: 13.75vw;
}

#logo{
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}
#logo-img{
  max-width: 100%;
}

@media screen and (max-width: 500px){
  .textRC{
    padding-left: 2vw;
    padding-right: 0vw;
  }
  .leftCol{
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .leftCol::-webkit-scrollbar {
    display: none;
  }
  .textRC img{
    width: 100%;
    margin-left: 0;
  }
}
